.cartitems {
  margin: 100px 170px;
}

.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cartitems-format-main,
.cartitems-format-main1 {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
  margin-top: 1.5rem;
}

.cartitem-format {
  font-size: 17px;
  font-weight: 500;
}

.carticon-product-icon {
  height: 62px;
}

.cartitems-remove-icon {
  width: 15px;
  margin: 0 40px;
  cursor: pointer;
}

.cartitem-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}

.cartitems-down {
  display: flex;
  margin: 100px 0;
}

.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.cartitems-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.cartitems-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.cartitems-promocode p {
  color: #555;
}

.cartitems-promobox {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
}

.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}

.cartitems-promobox button {
  width: 170px;
  height: 58px;
  font-size: 16px;
  background: black;
  color: white;
  cursor: pointer;
}

.empty-cart-message {
  text-align: center;
  margin-top: 4rem;
  padding: 2rem;
  background-color: #f3f3f3;
  border-radius: 12px;
  color: #555;
}

.cartitem-quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.cartitem-quantity-controls button {
  padding: 6px 10px;
  background-color: #1b3c35;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px) {
  .cartitems {
    margin: 50px;
  }

  .cartitems-format-main,
  .cartitems-format-main1 {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    gap: 75px;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 600;
  }

  .cartitems-format-main1 {
    margin-top: 8rem;
  }
}

@media (min-width: 820px) {
  .cartitems-format-main1 {
    margin-top: 3rem;
  }
}

@media (max-width: 1280px) {
  .cartitems {
    margin: 60px 50px;
  }

  .cartitems-format-main,
  .cartitems-format-main1 {
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 20px;
    padding: 15px 0;
    font-size: 15px;
  }

  .carticon-product-icon {
    height: 50px;
  }

  .cartitems-remove-icon {
    margin: auto;
  }

  .cartitem-quantity {
    width: 40px;
    height: 30px;
  }

  .cartitems-down {
    margin: 80px 0;
    flex-direction: column;
    gap: 80px;
  }

  .cartitems-total {
    margin: 0;
  }

  .cartitems-total button {
    max-width: 200px;
    height: 45px;
    font-size: 13px;
  }

  .cartitems-promobox {
    width: auto;
    max-width: 500px;
  }

  .cartitems-promobox input {
    width: 100%;
  }

  .cartitems-promobox button {
    width: 120px;
    margin-left: -125px;
  }
}
@media (max-width: 500px) {
  .cartitems-format-main1 {
    display: none;
  }

  .cartitem-format {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 0.5fr;
    gap: 10px;
    align-items: center;
    padding: 8px;
    margin-top: 3rem;
  }

  .cartitem-format .carticon-product-icon {
    width: 40px;
    height: auto;
  }

  .cartitems-remove-icon {
    width: 10px;
    margin: 0 10px;
  }

  .cartitem-details {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }
}

@media (min-width: 540px) {
  .cartitems-format-main1 {
    margin-top: 8rem;
  }
}
