.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("../Assets/hero-image.jpg");
  height: 70vh;
  color: var(--extra-light);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}
.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--extra-light);
}

.hero-content p {
  font-size: 1.1rem;
  margin: 0 2rem 10px;
  line-height: 1.6;
  color: var(--extra-light);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hero-buttons button {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--text-dark);
  color: var(--extra-light);
  transition: all 0.3s ease;
}

.hero-buttons button:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 12px;
  }

  .hero-buttons button {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .hero {
    height: 50vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-buttons button {
    font-size: 0.9rem;
  }
}

@media (width > 768px) {
  .hero {
    height: 40vh;
  }
}

@media (width >= 1024px) {
  .hero {
    height: 90vh;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-buttons button {
    padding: 20px;
    font-size: 1.1rem;
  }
}
