/* RelatedProducts.css */

.relatedproducts {
  padding: 2rem;
  background-color: #ffffff;
}

.relatedproducts h1 {
  font-size: 24px;
  margin-bottom: 0.5rem;
  color: #1b3c35;
}

.relatedproducts hr {
  height: 3px;
  width: 60px;
  background-color: #1b3c35;
  border: none;
  margin-bottom: 2rem;
}

.relatedproducts-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

@media (max-width: 480px) {
  .relatedproducts-item {
    margin-left: 4rem;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
